<p></p>
<p></p>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Calculation</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="calculate(calcForm)" #calcForm="ngForm" autocomplete="off">
          <div class="form-group" [ngClass]="{'has-error': (mainLimitVar.touched || 
            mainLimitVar.dirty) && 
            !mainLimitVar.valid }">
            <label class="col-md-4 control-label" for="userNameId">Main Limit (£)</label>
            <div class="col-md-6">
              <input class="form-control" id="userNameId" type="number" placeholder="Main Limit (in millions)" required (ngModel)="mainLimit"
                name="mainLimit" #mainLimitVar="ngModel" />
            </div>
            <div class="col-md-10">
              <span class="help-block" *ngIf="(mainLimitVar.touched ||
                mainLimitVar.dirty) &&
                mainLimitVar.errors">
              <span *ngIf="mainLimitVar.errors.required">
              Main Limite required.
              </span>
              </span>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (mainLimitVar.touched || 
            mainRetentionVar.dirty) && 
            !mainRetentionVar.valid }">
            <label class="col-md-4 control-label" for="userNameId">Main Retention (£)</label>
            <div class="col-md-6">
              <input class="form-control" id="userNameId" type="number" placeholder="Main retention (in millions)" required (ngModel)="mainRetention"
                name="mainRetention" #mainRetentionVar="ngModel" />
            </div>
            <div class="col-md-10">
              <span class="help-block" *ngIf="(mainRetentionVar.touched ||
                mainRetentionVar.dirty) &&
                mainRetentionVar.errors">
              <span *ngIf="mainRetentionVar.errors.required">
              Main retention required.
              </span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-6">
            <input type="radio" name="typeofExposure" id="typeofExposure" #typeOfExposureVar="ngModel" (ngModel)="typeofExposure" required
              value="Simple"> Simple
            <input type="radio" name="typeofExposure" id="typeofExposure" #typeOfExposureVar="ngModel" (ngModel)="typeofExposure" required
              value="Complex"> Complex
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!calcForm.valid">
          Calculate
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6 col-md-offset-2">
    <table class="table table-bordered">
      <tr>
        <th>Main Limit</th>
        <th>Main Retention</th>
        <th>Execution Type</th>
        <th>Percentage</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let item of result">
        <td>{{item.MainLimit | currency: 'GBP'}}</td>
        <td>{{item.MainRetention | currency:'GBP'}}</td>
        <td>{{parseEnumString(item.ExecutionType)}} </td>
        <td>{{item.FinalValue}}%</td>
        <td>{{item.ExecutionDate | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </table>
  </div>
</div>